<mat-stepper
  class="demo-stepper"
  style="background: none"
  linear="true"
  (selectionChange)="selectionChange($event)"
  labelPosition="bottom"
  #stepper
>
  <mat-step label="" state="edge" completed="true" editable="false"> </mat-step>
  <mat-step label="Publications" state="pubs" [completed]="next">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div class="right-side" fxLayout="column" fxLayoutAlign="start">
        <div class="pub">
          <app-publication></app-publication>
        </div>
        <div class="pub">
          <app-publication></app-publication>
        </div>
        <div class="pub">
          <app-publication></app-publication>
        </div>
        <div class="pub">
          <app-publication></app-publication>
        </div>
        <div class="pub">
          <app-publication></app-publication>
        </div>
        <div class="pub">
          <app-publication></app-publication>
        </div>
        <div class="pub">
          <app-publication></app-publication>
        </div>
        <div class="pub">
          <app-publication></app-publication>
        </div>
      </div>
      <div fxFlex class="left-side" fxLayout="column" fxLayoutAlign="start">
        <!-- New publication -->
        <button mat-button color="accent">
          Create Content
          <mat-icon class="icon">history_edu</mat-icon>
        </button>
        <div></div>
        <!---->
        <app-filter></app-filter>
      </div>
    </div>
  </mat-step>
  <mat-step label="Friends" state="friends" [completed]="!next">
    <p>friends</p>
  </mat-step>
  <mat-step label="" state="edge" completed="true" editable="false"> </mat-step>

  <ng-template matStepperIcon="pubs">
    <mat-icon class="icon">view_quilt</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="friends">
    <mat-icon class="icon">group</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="edit">
    <mat-icon class="icon">star</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="edge">
    <mat-icon class="icon">spoke</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="done">
    <mat-icon class="icon">spoke</mat-icon>
  </ng-template>
</mat-stepper>
