.right-side {
  overflow: scroll;
  max-height: 580px;
  padding-left: 10px;
  padding-right: 15px;
}

.pub {
  margin-bottom: 20px;
}

.left-side {
  padding-left: 35px;
  padding-right: 35px;
}

.full-width {
  width: 100%;
}

img {
  align-content: center;
  width: 100%;
}

.file-input {
  display: none;
}
