<mat-card class="wall">
  <mat-card-header>
    <img
      mat-card-avatar
      class="header-image"
      [src]="
        'https://proyecto2-39-semi1.s3.us-east-2.amazonaws.com/' +
        post.user_picture
      "
    />

    <mat-card-title>
      <b>@{{ post.username }}</b></mat-card-title
    >
    <mat-card-subtitle>{{ post.date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly center">
      <p *ngIf="post.comment && show_original">
        <b> {{ post.comment }}</b>
      </p>
      <p>
        {{ translated_text }}
      </p>
      <button
        mat-stroked-button
        color="accent"
        *ngIf="post.comment && translated_text == ''"
        (click)="translatePost()"
      >
        Translate post
        <mat-icon class="icon">translate</mat-icon>
      </button>
      <button
        mat-button
        color="accent"
        *ngIf="translated_text != ''"
        (click)="show_original = !show_original"
      >
        {{ show_original ? "Hide" : "Show" }} original
      </button>
    </div>
    <div>
      <img
        class="image"
        mat-card-image
        [src]="
          'https://proyecto2-39-semi1.s3.us-east-2.amazonaws.com/' +
          post.picture
        "
      />
    </div>
    <button mat-icon-button disabled></button>
  </mat-card-content>
</mat-card>
