.image {
  max-height: 200px;
  width: auto;
}

.header-image {
  background-size: cover;
}

.wall {
  max-width: 600px;
  min-width: 600px;
  border-width: thin;
  border-style: solid;
  border-color: #90a4ae;
}

.comment {
  padding-right: 30px;
}
